<h1>Add New Route</h1>
<form id="addRoutes" action="/api/addRoutes" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category">
            <option value="walks">Walks</option>
            <option value="cycle">Cycling</option>
            <option value="grass">Sea Grass</option>
        </select>
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input name="longitude" type="text">
    </div>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input name="latitude" type="text">
    </div>
    <div class="form-group">
        <label for="shortDescription">Short Description</label>
        <textarea name="shortDescription" rows="4"></textarea>
    </div>
    <button class="submitBTN u-full-width" type="submit">Submit</button>
</form>