:root {
    --placesToVisit-Color: #63326E;
    --placesToEat-Color: #FC7A1E;
    --walks-Color: #9B2915;
    --ecoFriendly-Color: #7DC95E;
    --geoAndBio-Color: #3F88C5;
    --events-Color: #B9A394;
    --agatha-Color: #FFBA01;
}

hr{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.placesToVisit-color{
    color: var(--placesToVisit-Color);
}

.walks-color{
    color: var(--walks-Color);
}

.placesToEat-color{
    color: var(--placesToEat-Color);
}

.ecoFriendly-color {
    color: var(--ecoFriendly-Color);
}

.events-color{
    color: var(--events-Color);
}

.geoAndBio-color{
    color: var(--geoAndBio-Color);
}

.agatha-color {
    color: var(--agatha-Color);
}

.adminHeader{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

textarea {
    resize: none;
}

.pinsContainer{
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 40px;
}

.pinEntry{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.EventEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.RouteEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#addPinPoint{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-column-gap: 10px;
}

#addEvents {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-column-gap: 10px;
}


#addRoutes {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-column-gap: 10px;
}

.checkBoxContainer{
    display: flex;
    flex-direction: row;
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
 
  .modal-content {
    background-color: #fefefe;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 50%;
  }

.Events {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.Events-content {
    background-color: #fefefe;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 50%;
}

.Routes {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.Routes-content {
    background-color: #fefefe;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 50%;
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
